Brotli==1.0.9
ConfigParser==7.2.0
cryptography==42.0.5
Cython==3.0.12
dl==0.1.0
docutils==0.18.1
HTMLParser==0.0.2
importlib_metadata==7.0.1
keyring==24.3.1
lockfile==0.12.2
lxml==5.2.1
monotonic==1.6
numpy==2.2.4
ordereddict==1.1
pandas==2.2.3
plotly==5.22.0
protobuf==3.20.3
pyOpenSSL==25.0.0
pywin32==305.1
scikit_learn==1.4.2
streamlit==1.32.0
thread==2.0.5
tornado==6.4.1
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.19.2

